<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kafka</title>
</head>
<body>
    <h1>Kafka File Uploader</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit" value="Upload">
    </form>

    <h1>Kafka Message Sender</h1>
    <form action="/send-message" method="post">
        <label for="message">Enter message:</label><br>
        <input type="text" id="message" name="message"><br><br>
        <input type="submit" value="Send Message">
    </form>
    <p><a href="/login?logout">Logout</a></p>
</body>
</html>
